[Desktop Entry]
Name=No XMir Needed
Type=Application
Exec=noxmir
NoDisplay=false
Hidden=false
Terminal=false
X-Lomiri-XMir-Enable=false
Icon=no-xmir.png
